:root{
    --bgcolor_1 : rgb(41,40,86);
    --bgcolor_2 : rgb(114,125,156);
    --bgcolor_3 : rgb(100,105,165);
    --bgLi_1 : rgb(234,232,240);
    --bgLi_2 : rgb(158,150,183);
    --bgLi_3 : rgb(93,79,132);
    --bgLi_4 : rgb(63,48,110);
    --txtLi : rgb(210,210,210);
    --txtLi_select_1 : rgb(250,215,21);
    --txtLi_select_2 : rgb(250,163,0);
    --buttonDelete_1 : rgb(185,185,185);
    --buttonDelete_2 : rgb(150,150,150);
    --buttonDelete_3 : rgb(54,54,54);
    --buttonDelete_4 : rgb(16,16,16);

    --black : rgb(0,0,0);
}

@font-face {
    font-family: vremena;
    src: url("../fonts/VremenaGrotesk.otf");
}

body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(45deg, var(--bgcolor_1), var(--bgcolor_2), var(--bgcolor_3));
    color: var(--txtLi);
    font-family: vremena;
    text-shadow: 2px 0px black, -2px 0px black, 0px 2px black, 0px -2px black,
             1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

main{
    margin: auto;
    max-width: 1200px;
    border: 1px solid blue;
}

ul{
    list-style-type: none;
    padding: 0;
}
li{
    margin: 10px 20px;
    /* weird values but it works */
    background-image: linear-gradient(45deg, 
    var(--bgLi_4) 0%, var(--bgLi_4) 70%, var(--bgLi_3) 70%, var(--bgLi_3) 73%,
    var(--bgLi_2) 73%, var(--bgLi_2) 75%, var(--bgLi_1) 75%, var(--bgLi_1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 18px 18px 0;
}
li>span{
    margin: 0px 10px 0px 10px;
}

.random_selected{
    color: var(--txtLi_select_1);
    animation: kaboom 800ms;
    /* The gradient technique doesn't work with the text-shadow one
    maybe i need to set of texts on top of each other */
    /* background-image: linear-gradient(180deg, var(--txtLi_select_1), var(--txtLi_select_2));
    background-clip: text;
    color: transparent; */
}

.button_main{
    all: unset;
    padding: 2px;
    width: 100px;
    text-align: center;
    /* border-width: 2px; */
    border-style: solid;
    border-color: var(--bgLi_1) var(--bgLi_4) var(--bgLi_4) var(--bgLi_2);
    background-image: linear-gradient(90deg, var(--bgcolor_1), var(--bgcolor_3), var(--bgcolor_1));
}
.button_main:hover{
    cursor: pointer;
    border-color: var(--bgLi_1);
}
.button_main:focus{
    cursor: pointer;
    border-color: var(--bgLi_4);
}

.button_delete{
    /* The X is not centered horizontaly and verticaly */
    all:unset;
    width: 20px;
    height: 20px;
    font-size: 20px;
    padding: 8px;
    text-align: center;
    border: 2px solid;
    border-color: var(--buttonDelete_1);
    border-radius: 50%;
    background-image: linear-gradient(120deg, var(--buttonDelete_3), var(--buttonDelete_4));
    /* box-shadow: 0px 0px 0px 4px var(--buttonDelete_3); */
    line-height:0px;
    user-select: none; /* make text unselectable */
}

.button_delete:hover{
    cursor: pointer;

}
.button_delete:focus{
    cursor: pointer;
}

@keyframes kaboom{
    0%{
        color: var(--txtLi_select_2);
    }
    100%{
        color: var(--txtLi_select_1);
    }
}
